*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: whitesmoke

}
.card{
  box-shadow: 0 8px 16px rgba(0,0,0,.1);
  /* border: 3px solid black; */
  padding: 20px;
  width: 30rem;
  height: 200px;
  background-color: #fff ;
  height: 80%;
}


.card-image img{
  width: 100%;
  height: 10rem;
  border-radius: 20px;
}

.card-content{
  padding-top: 20px;
}

.badge{
  display: inline-block;
  text-align: center;
  
  padding: 8px 10px;
  margin: 10px 0;
  background-color: #e1f1d2;
  border: 1px solid #66aa33;
  color: #66aa33;
  border-radius: 20px;
}

h2{
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.author{
  font-size: 20px;
  color: #888;
  margin-bottom: 20px;
}

.date{
  margin-left: 10px;
  
}

.describtion{
  font-size: 20px;
  color:#555;
}